body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color: blue;
}

h1{
    color: white;
}

#clock{
    font-size: 2rem;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}